@charset "utf-8";
.about {
  position: relative;
  display: block;
  height: 100vh;
  padding: 180px 0 210px;
}
.about .inner {
  height: 100%;
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  max-width: 1420px;
  /* background-color: chartreuse; */

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-title {
  font-size: 44px;
  line-height: 1.35;
}
.about-title span {
  color: #3a68b2;
}
.about-right p {
  font-size: 16px;
  color: #222;
  margin-bottom: 25px;
}

.about-right .about-txt-main {
  margin-bottom: 45px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.35;
  margin-bottom: 45px;
}

.about-txt-main span {
  color: #3a68b2;
  font-weight: 700;
}
.about-link {
  position: relative;
  display: block;
  width: 100%;
  max-width: 140px;
  height: 50px;
  padding: 0 10px;
  margin-top: 90px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
  line-height: calc(50px - 2px);
}
.about-link i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: right 0.5s;
}
.about-link:hover i {
  right: 5px;
}
/* 반응형 */
@media screen and (max-width: 1280px) {
  .about {
    /* 700 / 1420 * 100 = 49.2957vw */
    height: 49.2957vw;
    padding: 60px 0;
  }
}
@media screen and (max-width: 1020px) {
  .about {
    height: auto;
  }

  .about .inner {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-title {
    margin-bottom: 40px;
  }
  .about-link {
    margin: 0 auto;
    margin-bottom: 80px;
  }
}
